<form action="/paste/new" method="post">
	<div>Paste name: <input type="text" name="name" size="60" /></div>
	<div>Format: 
		<select name="format">
			{% for format in formats %}
				<option value="{{ format }}" {%ifequal format "Text only" %}selected{%endifequal%}>{{ format }}</option>
			{% endfor %}
		</select>
	</div>
	<div><textarea name="content" rows="5" cols="60"></textarea></div>
	<div>Password (optional): <input type="password" name="password" size="30" /></div>
	<div>Hidden? <input type="checkbox" name="hidden" {% if session.pastes_hidden_by_default %}checked {% endif %}/></div>
	<div><input type="submit" value="Paste it"></div>
</form>