<div class="paste" id="paste_{{paste.pastecode}}">
{% if paste.usercode %}
	<b> <span class="paste_creator">User <a href="/profile/{{paste.usercode}}">{{ paste.usercode }}</a></span>: </b>
{% else %}
	<b> <span class="paste_creator">Anonymous</span>: </b>
{% endif %}
<i><span class="paste_name">{{ paste.name }}</span></i> (<a href="/read/{{paste.pastecode}}"><span class="paste_pastecode">{{ paste.pastecode }}</span></a>) <br/>
Format: <span class="paste_format">{{ paste.format }}</span>
<div class="paste_content">{{ paste.parsed_content }}</div>
<a href="/paste/{{paste.pastecode}}/fork">Fork it</a> | 
<a href="/paste/{{paste.pastecode}}/download">Download it</a> <br/>
</div>